nav{
    ul{
        display: flex;
        background-color: #312f2f;
        padding-left: 1rem;
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: #c4c4c4;
                display: block;
                font-size: 18px;
                padding: .5rem .75rem;
                font-family: 'Noto Serif TC', serif;
                &:hover{
                    color: #312f2f;
                    background-color: #fff;
                }          
            }
        }
    }
}
.icon{
    padding-right: 5px;
    font-size: 22px;
}